# Data matrix creation

## Read individual files

In [1]:
import os
import pandas as pd


vitals_avg =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/vitals_avg_episode_date.csv''')
vitals_min =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/vitals_min_episode_date.csv''')
vitals_max =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/vitals_max_episode_date.csv''')
vitals_first =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/vitals_first_episode_date.csv''')
vitals_last =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/vitals_last_episode_date.csv''')
labs_avg =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/labs_avg_episode_date.csv''')
labs_min =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/labs_min_episode_date.csv''')
labs_max =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/labs_max_episode_date.csv''')
labs_first =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/labs_first_episode_date.csv''')
labs_last =  pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/cleaned/labs_last_episode_date.csv''')
admissions = pd.read_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '''/data/sepsis_micro_cohort/extracts/admissions.csv''')

In [2]:
vitals_min.shape, vitals_max.shape, vitals_avg.shape, vitals_first.shape, vitals_last.shape

((30138, 20), (30138, 20), (30138, 20), (30138, 20), (30138, 20))

In [3]:
labs_min.shape, labs_max.shape, labs_avg.shape, labs_first.shape, labs_last.shape

((89198, 38), (89198, 38), (89198, 38), (89108, 38), (89191, 38))

In [5]:
admissions.shape

(6090, 17)

In [6]:
admissions["visit_start_datetime"] = pd.to_datetime(admissions["visit_start_datetime"])
admissions["death_datetime"] = pd.to_datetime(admissions["death_datetime"])

In [7]:
vitals_avg['measurement_date'] = pd.to_datetime(vitals_avg['measurement_date'])
vitals_min['measurement_date'] = pd.to_datetime(vitals_min['measurement_date'])
vitals_max['measurement_date'] = pd.to_datetime(vitals_max['measurement_date'])
vitals_first['measurement_date'] = pd.to_datetime(vitals_first['measurement_date'])
vitals_last['measurement_date'] = pd.to_datetime(vitals_last['measurement_date'])

In [8]:
labs_avg['measurement_date'] = pd.to_datetime(labs_avg['measurement_date'])
labs_min['measurement_date'] = pd.to_datetime(labs_min['measurement_date'])
labs_max['measurement_date'] = pd.to_datetime(labs_max['measurement_date'])
labs_first['measurement_date'] = pd.to_datetime(labs_first['measurement_date'])
labs_last['measurement_date'] = pd.to_datetime(labs_last['measurement_date'])

In [9]:
vitals_min.shape, vitals_max.shape, vitals_avg.shape, vitals_first.shape, vitals_last.shape

((30138, 20), (30138, 20), (30138, 20), (30138, 20), (30138, 20))

In [10]:
labs_min.shape, labs_max.shape, labs_avg.shape, labs_first.shape, labs_last.shape

((89198, 38), (89198, 38), (89198, 38), (89108, 38), (89191, 38))

In [11]:
admissions.shape

(6090, 17)

In [12]:
admissions

,person_id,visit_occurrence_id,visit_start_datetime,death_datetime,death_0_7,death_0_14,death_0_21,death_0_30,death_0_60,death_0_90,death_0_120,death_7_14,death_14_21,death_21_30,death_30_60,death_60_90,death_90_120
0,1090186321,1174955314,2144-04-05 08:17:00,2144-06-18 21:30:00,0,0,0,0,0,1,1,0,0,0,0,1,0
1,1090186321,-724100302,2144-06-05 16:08:00,2144-06-18 21:30:00,0,1,1,1,1,1,1,1,0,0,0,0,0
2,138533533,486375954,2169-09-29 04:38:00,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1822991369,137256889,2120-11-16 17:08:00,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
4,-2015374903,-775316849,2146-06-10 16:37:00,2146-07-12 00:00:00,0,0,0,0,1,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6085,-349804345,-1786945192,2114-10-08 21:51:00,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
6086,1756571841,-784717964,2187-11-08 00:33:00,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
6087,-1536599340,-760005073,2174-02-18 11:25:00,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
6088,1777037295,-2090903491,2112-10-18 14:43:00,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
6089,1075143527,-1852483580,2138-03-11 14:58:00,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
vitals_avg

,person_id,visit_occurrence_id,measurement_date,Respiratory rate,Heart rate,Body weight,Oxygen saturation in Arterial blood by Pulse oximetry,Glasgow coma score eye opening,Glasgow coma score verbal,Glasgow coma score motor,Physical mobility Braden scale,Nutrition intake pattern Braden scale,Sensory perception Braden scale,Physical activity Braden scale,Moisture exposure Braden scale,Friction and shear Braden scale,Mean blood pressure,Systolic blood pressure,Diastolic blood pressure,Body temperature
0,-901513681,-2147287250,2144-07-19,19.810811,107.387097,87.400000,95.096774,2.833333,3.000000,3.5,2.800000,2.00,2.400000,1.000000,2.400000,1.800000,84.100000,109.433333,72.966667,99.866667
1,-901513681,-2147287250,2144-07-20,18.083333,97.500000,159.222833,93.416667,4.000000,5.000000,6.0,3.000000,2.00,2.000000,2.000000,3.000000,2.000000,90.000000,125.166667,75.166667,99.300000
2,2118937575,-2146830423,2153-08-25,16.800000,88.500000,109.800000,96.000000,2.000000,1.000000,1.0,3.000000,2.00,2.000000,1.000000,3.000000,2.000000,83.000000,125.000000,67.500000,97.800000
3,2118937575,-2146830423,2153-08-26,14.902439,81.083333,134.200000,99.875000,3.200000,1.000000,4.2,2.250000,2.00,2.000000,1.000000,3.750000,1.250000,69.875000,107.333333,55.083333,98.560000
4,2118937575,-2146830423,2153-08-27,18.212121,79.750000,155.070600,99.958333,3.285714,2.714286,6.0,2.800000,1.80,3.000000,1.200000,3.000000,1.200000,70.666667,116.916667,51.541667,98.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30133,1704620125,2147047360,2155-07-27,21.838710,84.625000,174.231500,98.280000,4.000000,1.000000,6.0,3.000000,2.80,3.000000,1.333333,2.500000,2.000000,87.904762,128.952381,77.380952,98.300000
30134,1704620125,2147047360,2155-07-28,19.434783,90.777778,181.150583,99.760000,2.700000,1.000000,5.2,2.200000,3.00,2.857143,1.285714,2.714286,2.000000,84.764706,114.281250,67.125000,99.637500
30135,1704620125,2147047360,2155-07-29,18.303030,77.769231,175.633000,98.461538,3.625000,1.500000,6.0,2.750000,2.75,3.750000,1.000000,3.000000,2.750000,75.297872,111.000000,61.872340,98.900000
30136,1704620125,2147047360,2155-07-30,20.423077,77.458333,152.073633,97.250000,3.833333,3.000000,6.0,3.333333,3.00,4.000000,1.000000,4.000000,2.666667,82.282051,119.897436,67.000000,98.066667
30137,1704620125,2147047360,2155-07-31,19.875000,74.058824,195.100000,98.117647,3.750000,2.000000,6.0,2.500000,3.50,3.500000,2.000000,3.500000,2.500000,87.470588,129.235294,68.470588,98.140000

In [14]:
labs_avg

,person_id,visit_occurrence_id,measurement_date,Leukocytes in Blood by Manual count,Hematocrit of Blood by Automated count,MCHC by Automated count,MCH by Automated count,Erythrocyte distribution width by Automated count,MCV by Automated count,Erythrocytes in Blood by Automated count,...,Prothrombin time (PT),INR in Platelet poor plasma by Coagulation assay,aPTT in Blood by Coagulation assay,Specific gravity of Urine by Test strip,pH of Urine by Test strip,Bilirubin.total in Serum or Plasma,Aspartate aminotransferase in Serum or Plasma,Alanine aminotransferase in Serum or Plasma,Alkaline phosphatase in Serum or Plasma,Albumin in Serum or Plasma
0,-901513681,-2147287250,2144-07-17,2.70,36.0,33.3,35.3,14.6,106.0,3.40,...,65.064383,6.864167,80.228667,1.018795,6.137500,4.2305,72.805,59.800,196.765000,2.796833
1,-901513681,-2147287250,2144-07-19,2.50,38.1,33.6,35.3,14.6,105.0,3.63,...,18.200000,1.700000,38.900000,1.020175,6.002500,0.8000,38.000,15.000,53.000000,2.800000
2,-901513681,-2147287250,2144-07-20,4.30,29.5,33.9,35.2,14.5,104.0,2.84,...,61.820317,6.341417,62.073817,1.019213,6.202500,1.9780,57.845,57.905,145.826667,2.792833
3,-901513681,-2147287250,2144-07-21,5.60,30.0,34.3,35.3,14.6,103.0,2.92,...,62.784517,6.717767,71.444083,1.024795,6.557500,4.4675,77.975,69.140,199.972500,2.864667
4,-901513681,-2147287250,2144-07-22,5.90,29.1,34.4,35.0,14.6,102.0,2.86,...,65.648217,6.907767,68.216683,1.022102,6.376667,2.2260,66.855,52.350,197.740000,2.596000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89193,1588345627,2147456143,2159-05-18,2.50,27.5,32.5,31.6,15.5,97.0,2.82,...,12.400000,1.000000,27.400000,1.014325,6.174167,0.3000,48.000,26.000,188.000000,3.075500
89194,1588345627,2147456143,2159-05-19,2.20,25.2,33.7,32.2,15.8,95.0,2.65,...,12.300000,1.000000,26.100000,1.015825,6.247500,0.3000,47.000,27.000,166.000000,2.400000
89195,1588345627,2147456143,2159-05-20,2.40,27.5,32.0,31.6,16.0,99.0,2.78,...,11.700000,1.000000,26.600000,1.018000,6.500000,0.3000,46.000,24.000,162.000000,2.787000
89196,1588345627,2147456143,2159-05-21,1.78,25.4,33.1,31.6,16.0,95.0,2.67,...,12.000000,1.000000,26.900000,1.017115,6.360000,0.3000,41.000,22.000,155.000000,2.300000
89197,1588345627,2147456143,2159-05-22,2.30,28.7,33.4,31.6,16.2,95.0,3.04,...,12.000000,1.000000,25.800000,1.019190,6.207500,0.5000,46.000,27.000,170.000000,2.500000

## Merge all the files

In [15]:
import pandas as pd


mergedDf = pd.concat([vitals_avg, vitals_min, vitals_max, vitals_first, vitals_last, labs_avg, labs_min, labs_max, labs_first, labs_last], ignore_index=True)
mergedDf = mergedDf.drop_duplicates(subset=['person_id', 'visit_occurrence_id', 'measurement_date'])
mergedDf = mergedDf[['person_id', 'visit_occurrence_id', 'measurement_date']]

mergedDf = pd.merge(mergedDf, admissions.add_suffix('_adm'), how='inner', left_on=['person_id', 'visit_occurrence_id'], right_on=['person_id_adm', 'visit_occurrence_id_adm'])
mergedDf = mergedDf.drop(['person_id_adm', 'visit_occurrence_id_adm'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_avg.add_suffix('_avg').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_avg', 'vitals_visit_occurrence_id_avg', 'vitals_measurement_date_avg'])
mergedDf = mergedDf.drop(['vitals_person_id_avg', 'vitals_visit_occurrence_id_avg', 'vitals_measurement_date_avg'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_min.add_suffix('_min').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_min', 'vitals_visit_occurrence_id_min', 'vitals_measurement_date_min'])
mergedDf = mergedDf.drop(['vitals_person_id_min', 'vitals_visit_occurrence_id_min', 'vitals_measurement_date_min'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_max.add_suffix('_max').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_max', 'vitals_visit_occurrence_id_max', 'vitals_measurement_date_max'])
mergedDf = mergedDf.drop(['vitals_person_id_max', 'vitals_visit_occurrence_id_max', 'vitals_measurement_date_max'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_first.add_suffix('_first').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_first', 'vitals_visit_occurrence_id_first', 'vitals_measurement_date_first'])
mergedDf = mergedDf.drop(['vitals_person_id_first', 'vitals_visit_occurrence_id_first', 'vitals_measurement_date_first'], axis = 1)
mergedDf = pd.merge(mergedDf, vitals_last.add_suffix('_last').add_prefix('vitals_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['vitals_person_id_last', 'vitals_visit_occurrence_id_last', 'vitals_measurement_date_last'])
mergedDf = mergedDf.drop(['vitals_person_id_last', 'vitals_visit_occurrence_id_last', 'vitals_measurement_date_last'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_avg.add_suffix('_avg').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_avg', 'labs_visit_occurrence_id_avg', 'labs_measurement_date_avg'])
mergedDf = mergedDf.drop(['labs_person_id_avg', 'labs_visit_occurrence_id_avg', 'labs_measurement_date_avg'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_min.add_suffix('_min').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_min', 'labs_visit_occurrence_id_min', 'labs_measurement_date_min'])
mergedDf = mergedDf.drop(['labs_person_id_min', 'labs_visit_occurrence_id_min', 'labs_measurement_date_min'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_max').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_max', 'labs_visit_occurrence_id_max', 'labs_measurement_date_max'])
mergedDf = mergedDf.drop(['labs_person_id_max', 'labs_visit_occurrence_id_max', 'labs_measurement_date_max'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_first').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_first', 'labs_visit_occurrence_id_first', 'labs_measurement_date_first'])
mergedDf = mergedDf.drop(['labs_person_id_first', 'labs_visit_occurrence_id_first', 'labs_measurement_date_first'], axis = 1)
mergedDf = pd.merge(mergedDf, labs_max.add_suffix('_last').add_prefix('labs_'), how='left', left_on=['person_id', 'visit_occurrence_id', 'measurement_date'], right_on=['labs_person_id_last', 'labs_visit_occurrence_id_last', 'labs_measurement_date_last'])
mergedDf = mergedDf.drop(['labs_person_id_last', 'labs_visit_occurrence_id_last', 'labs_measurement_date_last'], axis = 1)
mergedDf = mergedDf.dropna()
mergedDf

,person_id,visit_occurrence_id,measurement_date,visit_start_datetime_adm,death_datetime_adm,death_0_7_adm,death_0_14_adm,death_0_21_adm,death_0_30_adm,death_0_60_adm,...,labs_Prothrombin time (PT)_last,labs_INR in Platelet poor plasma by Coagulation assay_last,labs_aPTT in Blood by Coagulation assay_last,labs_Specific gravity of Urine by Test strip_last,labs_pH of Urine by Test strip_last,labs_Bilirubin.total in Serum or Plasma_last,labs_Aspartate aminotransferase in Serum or Plasma_last,labs_Alanine aminotransferase in Serum or Plasma_last,labs_Alkaline phosphatase in Serum or Plasma_last,labs_Albumin in Serum or Plasma_last
139,-1788739119,-2142878850,2159-05-24,2159-05-22 20:37:00,2159-09-18 00:00:00,0,0,0,0,0,...,15.9,1.5,32.500000,1.020300,6.620000,1.900000,38.000000,19.000000,154.000000,3.320500
141,-1788739119,-2142878850,2159-05-26,2159-05-22 20:37:00,2159-09-18 00:00:00,0,0,0,0,0,...,14.8,1.4,33.800000,1.016395,6.905000,2.328000,58.430000,43.331667,181.220000,2.836500
142,-1788739119,-2142878850,2159-05-27,2159-05-22 20:37:00,2159-09-18 00:00:00,0,0,0,0,0,...,12.5,1.1,35.900000,1.016577,6.820000,1.000000,27.000000,16.000000,151.000000,2.679500
143,-1788739119,-2142878850,2159-05-28,2159-05-22 20:37:00,2159-09-18 00:00:00,0,0,0,0,0,...,11.8,1.1,37.000000,1.015025,6.845000,2.486833,46.225000,67.945000,223.955000,2.695000
144,-1788739119,-2142878850,2159-05-29,2159-05-22 20:37:00,2159-09-18 00:00:00,0,0,0,0,0,...,12.2,1.1,40.841917,1.019545,6.675000,1.500000,54.995000,80.800000,240.260000,2.519500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69094,-195010687,2141255146,2126-08-24,2126-08-10 12:54:00,2134-04-12 00:25:00,0,0,0,0,0,...,13.7,1.2,24.900000,1.019160,6.675000,1.448000,76.670000,132.130000,212.636667,3.743500
69095,-195010687,2141255146,2126-08-25,2126-08-10 12:54:00,2134-04-12 00:25:00,0,0,0,0,0,...,14.1,1.2,25.600000,1.016830,6.614167,1.497500,79.383333,138.458333,199.287500,3.504500
69153,-939423329,2143021773,2169-04-05,2169-02-13 00:00:00,2169-07-04 01:17:00,0,0,0,0,0,...,16.3,1.5,29.200000,1.012567,5.750000,0.851500,27.248333,30.435000,161.455000,2.826667
69154,-939423329,2143021773,2169-04-06,2169-02-13 00:00:00,2169-07-04 01:17:00,0,0,0,0,0,...,14.6,1.4,32.000000,1.012815,5.782000,0.300000,10.000000,7.000000,50.000000,3.096500
69155,-939423329,2143021773,2169-04-07,2169-02-13 00:00:00,2169-07-04 01:17:00,0,0,0,0,0,...,14.9,1.4,31.400000,1.013185,6.409167,0.645900,29.470000,44.315000,86.930000,2.968833

In [16]:
len(mergedDf.visit_occurrence_id.unique())

729

In [17]:
len(mergedDf.person_id.unique())

691

## Create a directory to save files if doesn't exists

In [18]:
import os


dirPath = os.environ['MIMIC_EHR_PIPELINE_BASE'] + '/data/sepsis_micro_cohort/final'
if not os.path.exists(dirPath):
    os.makedirs(dirPath)

## Save the merged data to a file

In [19]:
mergedDf.to_csv(os.environ['MIMIC_EHR_PIPELINE_BASE'] + '/data/sepsis_micro_cohort/final/data_matrix.csv', index=False)